*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
html {
  scroll-behavior: auto;
}
body{
 
  overflow-x: hidden;
  
}
.fundo{
   background-image: url("https://img.freepik.com/fotos-premium/palacio-de-gyeongbokgung-no-crepusculo-em-seul-na-coreia-do-sul_335224-1365.jpg?w=1060");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   background-attachment: fixed;
   background-position: center;
}
@import url(https://fonts.google.com/specimen/Playfair+Display); 
.cs{
  text-align: center;
  justify-content: center;
  font-size: 100px;
  margin-top: 40px;
  position: absolute;
  color: #bddbd0;
  margin-left: 28%;
  text-shadow: 0.1em 0.1em 0.10em black;
  display: block;
  position: fixed;

}


header{
  padding: 5px 16px;
  background-color: transparent(0, 0, 0); 
  background-image: linear-gradient(rgb(0, 0, 0), transparent  );
  width: 100vw;
  height: 35vh;
  position:fixed;
  display: block;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
 
  .sticky + .content {
    padding-top: 102px;
  }
  
.log{
    height: 10vh;
    margin-left: 15px;
    margin-top: 20px;
    position: fixed;
    display: block;
}
  main{
    background-color: rgba(255, 255, 255, 0.925);
    height: 500vh;
    width: 100vw;
    margin-top: 0%;
    float: left;
    padding: 50px 90px 50px 90px;
    
  }
  p{
    float:right;
  }
  .img1{
    margin: 20px 20px 20px 20px;
    box-shadow: 1px  solid rgb(209, 206, 206) ;
    width: 40vw;
    height: 60vh;
  }
 
 
