*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: auto;
}
body{
 
  overflow-x: hidden;
  
}
.fundo{
   background-image: url("https://img.freepik.com/fotos-premium/palacio-de-gyeongbokgung-no-crepusculo-em-seul-na-coreia-do-sul_335224-1365.jpg?w=1060");
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh;
   width: 100vw;
   background-attachment: fixed;
   background-position: center;
}

.cs{
  text-align: center;
  justify-content: center;
  font-size: 50px;

  margin-top: 60px;
  position: absolute;
  color: #79eede;
  margin-left: 36%;
  text-shadow: 0.1em 0.1em 0.10em black;
  display: block;
 position: absolute;
 letter-spacing: 5px;

}


header{
  padding: 5px 16px;
  background-color: transparent(0, 0, 0); 
  background-image: linear-gradient(rgb(0, 0, 0), transparent  );
  width: 100vw;
  height: 20vh;
  position:fixed;
  display: block;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
 
  .sticky + .content {
    padding-top: 102px;
  }
  
.log{
    height: 10vh;
    margin-left: 15px;
    margin-top: 20px;
    position: fixed;
    display: block;
}
  main{
    background-color: rgba(255, 255, 255, 0.925);
    height: 500vh;
    width: 100vw;
    margin-top: 0%;
    float: left;
    padding: 50px 100px 100px 100px;

  }
  .text{
    text-align:right;
    justify-content: center;
    position: relative;
    margin-right: 10%;
    margin-left: 100px;
    float:right;

  
  }
  .img0{
    margin: 10% 15% 5% 10%;
    width: 40vw;
    height: 60vh;
    box-shadow: 0.1em 0.2em 0.10em black;
  }
  .img1{
    margin: 20px 20px 20px 20px;
    box-shadow: 0.1em 0.2em 0.10em black;
    width: 40vw;
    height: 60vh;
    float: left;
 
  }
  nav p{
    float: right;
    color: #7ef8cf;
    margin: 40px 30px 10px 10px;
    transition: background-color 1s;
    display: inline-block;
    letter-spacing: 2px;
  }
  nav p:hover { 
    color: #5bf8c4fd; 
    transition: 0.5s;
    opacity: 0.7;
}
div{

}
 
 
